{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<div id="storeTemplate" style="display:none">
    <div class="d-flex justify-content-between cityTemplate template-stripped"  id="templateCity">
        <div class="nameCity">Nom</div>
        <button type="button" class="btn btn-danger" js-id="0" onclick="DeleteCity(this)">delete</button>
    </div>
    <div class="d-flex justify-content-between LocationTemplate template-stripped"  id="templateLocation">
        <div class="nameLocation">Nom</div>
        <div class="cityLocation">Ville</div>
        <button type="button" class="btn btn-danger" js-id="0" onclick="DeleteLocation(this)">delete</button>
    </div>
    <div class="d-flex justify-content-between SiteTemplate template-stripped"  id="templateSite">
        <div class="nameSite">Nom</div>
        <button type="button" class="btn btn-danger" js-id="0" onclick="DeleteSite(this)">delete</button>
    </div>
    <div class="d-flex justify-content-between StateTemplate template-stripped"  id="templateState">
        <div class="nameState">Nom</div>
        <button type="button" class="btn btn-danger" js-id="0" onclick="DeleteState(this)">delete</button>
    </div>
</div>

<div class="col-12 d-flex justify-content-around mb-3" >
    <div class="cursor-pointer" onclick="SwitchTemplate(0)">Villes</div>
    <div class="cursor-pointer" onclick="SwitchTemplate(1)">Endroits</div>
    <div class="cursor-pointer" onclick="SwitchTemplate(2)">Utilisateurs</div>
    <div class="cursor-pointer" onclick="SwitchTemplate(3)">Organisations</div>
    <div class="cursor-pointer" onclick="SwitchTemplate(4)">Evenements</div>
    <div class="cursor-pointer" onclick="SwitchTemplate(5)">Etats</div>
</div>
<div class="container">

<!-- BLOC CONTAINER DE FORMS-->
    <div class="categoryContainer d-none py-3" id="CityContainer">
    <div class="d-flex justify-content-between ">
        <h3 class="flex-1">Ajouter une ville</h3>
        <i class="bi bi-plus-circle mr-2 cursor-pointer" onclick="newCityFormActive(this)"></i>
    </div>
    {{ form_start(new_cityForm, {'attr': {'id': 'newCityForm'}}) }}
        <div class="form-outline mb-3">
            <label class="form-label" for="form3Example1cg">Name</label>
            {{ form_widget(new_cityForm.name, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-outline mb-3">
            <label class="form-label" for="form3Example1cg">ZipCode</label>
            {{ form_widget(new_cityForm.zipCode, {'attr': {'class': 'form-control'}}) }}
        </div>
        <button type="button" class="btn btn-primary" onclick="AddCity()">Valider</button>
    {{ form_end(new_cityForm) }}
    <div id="listCity" class="stripped mt-3"></div>




    </div>
    <div class="categoryContainer d-none  py-3" id="LocationContainer">
        
        
        <div class="d-flex justify-content-between ">
            <h3 class="flex-1">Ajouter un lieu</h3>
            <i class="bi bi-plus-circle mr-2 cursor-pointer" onclick="newLocationFormActive(this)"></i>
        </div>

        {{ form_start(newLocationForm, {'attr': {'id': 'newLocationForm'}}) }}
            <div class="form-outline mb-3">
                <label class="form-label" for="form3Example1cg">Name</label>
                {{ form_widget(newLocationForm.name, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-outline mb-3">
                <label class="form-label" for="form3Example1cg">Adresse</label>
                {{ form_widget(newLocationForm.adress, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-outline mb-3">
                <label class="form-label" for="form3Example1cg">Latitude</label>
                {{ form_widget(newLocationForm.latitude, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-outline mb-3">
                <label class="form-label" for="form3Example1cg">Longitude</label>
                {{ form_widget(newLocationForm.longitude, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-outline mb-3">
                <label class="form-label" for="form3Example1cg">City</label>
                {{ form_widget(newLocationForm.city, {'attr': {'class': 'form-control cursor-pointer'}}) }}
            </div>
            <button type="button" class="btn btn-primary" onclick="AddLocation()">Valider</button>
        {{ form_end(newLocationForm) }}
        <div id="listLocation" class="stripped mt-3"></div>


    </div>
    <div class="categoryContainer d-none py-3" id="UserContainer">
        
        

        <div class="d-flex justify-content-between ">
            <h3 class="flex-1">Ajouter un utilisateur</h3>
        </div>

       
        <div id="listUsers" class="stripped mt-3"></div>



    </div>
    <div class="categoryContainer d-none py-3" id="SiteContainer">
        
        
        <div class="d-flex justify-content-between ">
            <h3 class="flex-1">Ajouter un Site</h3>
            <i class="bi bi-plus-circle mr-2 cursor-pointer" onclick="newformSiteActive(this)"></i>
        </div>

        {{ form_start(newformSite, {'attr': {'id': 'newformSite'}}) }}
            <div class="form-outline mb-3">
                <label class="form-label" for="form3Example1cg">Name</label>
                {{ form_widget(newformSite.name, {'attr': {'class': 'form-control'}}) }}
            </div>
            <button type="button" class="btn btn-primary" onclick="AddSite()">Valider</button>
        {{ form_end(newformSite) }}
        <div id="listSite" class="stripped mt-3"></div>


    </div>
    <div class="categoryContainer d-none py-3" id="EventContainer">
        EventContainer
    </div>
    <div class="categoryContainer d-none py-3" id="StateContainer">
        
        
        <div class="d-flex justify-content-between ">
            <h3 class="flex-1">Ajouter un State</h3>
            <i class="bi bi-plus-circle mr-2 cursor-pointer" onclick="newformStateActive(this)"></i>
        </div>

        {{ form_start(newformState, {'attr': {'id': 'newformState'}}) }}
            <div class="form-outline mb-3">
                <label class="form-label" for="form3Example1cg">Name</label>
                {{ form_widget(newformState.name, {'attr': {'class': 'form-control'}}) }}
            </div>
            <button type="button" class="btn btn-primary" onclick="AddState()">Valider</button>
        {{ form_end(newformState) }}
        <div id="listState" class="stripped mt-3"></div>


    </div>
</div>


{% endblock %}
