{% extends 'base.html.twig' %}
{% block title %}Page d'ajout des événement!{% endblock %}

{% block body %}
{% if app.request.get('_route') == 'event_update' %}
<h1 class="text-primary"> Editer un événement</h1>
{% else %}
<h1 class="text-primary">Ajouter un événement</h1 >
{% endif %}
<div class="form_container d-flex justify-content-center">
    <div class="col-12 col-md-6 col-xl-4">
    {{ form_start(eventForm) }}
                <div class="form-outline mb-3">
                <label class="form-label" for="form3Example1cg">Nom de la sortie</label>
                    {{ form_widget(eventForm.name, {'attr': {'class': 'form-control'}}) }}
                  
                </div>

                <div class="form-outline mb-3">
                <label class="form-label" for="form3Example1cg">Date de début de l'événement</label>
                    {{ form_widget(eventForm.beginAt, {'attr': {'class': 'form-control'}}) }}
              
                </div>

                <div class="form-outline mb-3">
                <label class="form-label" for="form3Example1cg">Date limite d'inscription</label>
                    {{ form_widget(eventForm.limitInscriptionAt, {'attr': {'class': 'form-control'}}) }}
    
                </div>

                <div class="form-outline mb-3">
                <label class="form-label" for="form3Example1cg">Nombre de participants maximum</label>
                 {{ form_widget(eventForm.inscriptionMax, {'attr': {'class': 'form-control'}}) }}

                </div>

                <div class="form-outline mb-3">
                <label class="form-label" for="form3Example1cg">Durée (en minutes)</label>
                    {{ form_widget(eventForm.duration, {'attr': {'class': 'form-control'}}) }}              
                </div>

                
                <div class="form-outline mb-3">
                <label class="form-label" for="form3Example1cg">Description de l'événement</label>
                 {{ form_widget(eventForm.description, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-outline mb-3">
                <label class="form-label" for="form3Example1cg">Site organisateur : </label>
                    {{app.user.site.name }}              
                </div> 
                <div class="form-outline mb-3">
                <label class="form-label" for="form3Example1cg">privé : </label>
                    {{ form_widget(eventForm.privateEvent, {'attr': {'class': 'form-control'}}) }}            
                </div>

                <div class="form-outline mb-3">
                <label class="form-label" for="form3Example1cg">Lieu</label>
                    {{ form_widget(eventForm.location, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-outline mb-3">
                <label class="form-label" for="form3Example1cg">Ajout d'une photo</label>
                 {{ form_widget(eventForm.imageFile, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-outline m-3">
                {{ form_widget(eventForm.save, {'attr': {'class': 'form-control'}}) }}                
                </div>
                <div class="form-outline m-3">
                {{ form_widget(eventForm.publish, {'attr': {'class': 'form-control'}}) }}                
                </div>
  {{ form_end(eventForm) }}
</div>



{% endblock %}