{% extends 'base.html.twig' %}

{% block title %}Mot passe oublié{% endblock %}

{% block body %}

{# si pas de user, je demande un pseudo #}
{% if user %}
  {{ form_start(formView) }}
{{ form_label(formView.reponse)  }}
{{ form_widget(formView.reponse)  }}
{{ form_widget(formView.Envoyer) }}
{{ form_end(formView) }}
{% else %}
  <form method='get'>
    <label for="Pseudo">Pseudo</label>
    <input  class="form-control" type="text" name="pseudo">
    <button type="submit" class="btn btn-primary">Envoyer</button>
  </form>
{% endif %}


{% endblock %}
