{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<h1 class="text-primary">Soirées près de chez vous</h1>
<form action="" method="">
    <div class="container">
        <div class="row">
            <div class="col-11 align-self-center">
            <h1>Recherchez</h1>
            {{ form_start(filterForm) }}
            <div class="form-outline mb-3">
            <label class="form-label" for="form3Example1cg">par site</label>
            {{ form_widget(filterForm.site, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-outline mb-3">
            <label class="form-label" for="form3Example1cg">par nom</label>
            {{ form_widget(filterForm.name, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-outline mb-3">
        <label class="form-label" for="form3Example1cg">Un événement entre</label>
        {{ form_widget(filterForm.dateEntre, {'attr': {'class': 'form-control'}}) }}
            <label class="form-label" for="form3Example1cg">et</label>
            {{ form_widget(filterForm.dateEt, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-outline mb-3">
    
            {{ form_widget(filterForm.organizer) }}
            </div>
            <div class="form-outline mb-3">
            {{ form_widget(filterForm.statePast) }}
            </div>           
            <div class="form-outline m-3">
            {{ form_widget(filterForm.search, {'attr': {'class': 'form-control'}}) }}                
            </div>
            {{ form_end(filterForm) }}

    <div class="sortiesContainer flex-wrap container d-flex col-12 m-0 p-3">

    {% for event in events %}
    {% if event.isDisplay == 1 %}
        <div class="sortie_item m-3 p-3 col-12 col-md-3 col-xl-2 rounded">
                <img src="{{asset('/uploads/images/event/')}}{{event.photo}}" class="w-100" alt="miniature sortie"/>
                <div class="p-3 bg-white">
                    <h4 class="text-primary">{{ event.name }}</h4>
                <div>Le {{ event.beginAt | date('d-m-Y à H:i')}}</div>
                    <div>{{ event.description }}</div>
                    <div>Statut : {{ event.state.name }}</div>
                    <a href={{ path('profile', {'id':event.owner.id})}}> <div>Organisateur : {{ event.owner.name }}</div></a>
                    <div>Inscrits : {{ event.participants | length }}/{{ event.inscriptionMax }}</div>
                </div>
                <div class="row">
                    <a class="col-6" href="{{ path('event_detail', {id: event.id}) }}" >
                        <button class="btn">Détails</button>
                    </a>
                    {% if app.user %}
                        {% if event.isActive == false %}
                        <button class="btn col-6">{{event.state.name}}</button>
                            {% elseif (date( event.limitInscriptionAt ) > date()) and (event.participants | length < event.inscriptionMax) %}
                            {% if app.user.id == event.owner.id %}
                    <a  class="col-6" href="{{ path ('event_update', {'id':event.id}) }}">
                <button class="btn">Modifier</button>
                </a>
                                 {% else %}
                            <a class="col-6" href="{{ path('add_participant', {id: event.id}) }}" >
                                <button class="btn col-6">
                                    {% if event.isInEvent %}
                                        Se désinscrire
                                    {% else %}
                                        S'inscrire
                                    {% endif %}
                                </button>
                            </a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
        </div>
    {% endif %}
    {% endfor %}

    </div>

{% endblock %}
